{% extends 'base.html.twig' %}

{% block title %}Orders - Listing{% endblock %}

{% block body %}
<h1>Details for Order #{{ order.id }}</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Order ID</th>
        <th scope="col">Marketplace</th>
        <th scope="col">Purchased at</th>
        <th scope="col">Order amount</th>
        <th scope="col">Order currency</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{ order.id }}</th>
            <td>{{ order.orderId }}</td>
            <td>{{ order.marketplace }}</td>
            <td>{{ order.orderPurchaseDate }} {{ order.orderPurchaseHeure }}</td>
            <td>{{ order.orderAmount }}</td>
            <td>{{ order.orderCurrency }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
